<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="twitterfeed">
                    <a class="twitter-timeline" href="https://twitter.com/leedsfilmfest">Tweets by leedsfilmfest</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>