@model IEnumerable<LIFF.Web.ViewModels.FilmViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>

</p>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            @*         <div class="jumbotron">*@
            @foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object img-thumbnail" src="@Url.Content(item.Images[0].Path)" width="304" height="236" />
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading">@item.Title (@item.Year)</h2>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*</div>*@
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="twitterfeed">
                                <a class="twitter-timeline" href="https://twitter.com/leedsfilmfest">Tweets by leedsfilmfest</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>